@import url("https://db.onlinewebfonts.com/c/33b66a066789321b7169de24c36b7ade?family=GT+America+Expanded+Black");
@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  /* font-family: "Palette Mosaic", cursive; */
  font-family: "GT America Expanded Black", sans-serif;
}

/* 
* ---------
* GUIDELINE
* ---------
*/

/* .marquee {
  width: 100%;
  padding: 90px 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  overflow: hidden;
}

.marquee h3 {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .marquee h3 {
    font-size: 60px;
  }
}

@media (max-width: 549px) {
  .marquee h3 {
    font-size: 50px;
  }
}

.marquee-wrapper {
  width: 100000px;
  animation: marqueeAnimation 25s linear 0s infinite running;
}

@keyframes marqueeAnimation {
  100% {
    transform: translateX(-4600px);
  }
}

.marquee h3 .marquee-title {
  margin-right: 20px;
  float: left;
}

.text-stroke-black {
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
} */

/* 
* ----------------
* END OF GUIDELINE
* ----------------
*/

/* remove outline - NOT WORKING */
/* .navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
} */

.nav-links {
  background-color: darkslategray;
  /* color: black; */
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: visible;
}

.nav-list {
  left: 0;
  bottom: 0;
  height: calc(100% - (8vw + 20px));
  position: absolute;
  width: 100%;
  font-size: 20px;
  font-size: 6vh;
}

.nav-item {
  height: 16.66%;
}

.nav-link {
  text-transform: uppercase;
  border-top: 1px solid salmon;
  /* color: gray; */
  display: block;
  height: 100%;
}

.nav-link-text {
  position: relative;
  width: 100vw;
  top: 50%;
  display: inline-block;
  overflow: hidden;
}

.nav-link-text span {
  font-family: 'Palette Mosaic', sans-serif;
  font-size: 10px;
  font-size: 1vh;
  top: 1.4vh;
  left: .5vw;
  margin-right: 1vw;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.marquee-wrapper {
  width: 1000000px;
  transform: translateX(0px);
  /* animation: marqueeAnimation 90s linear 1s infinite normal none running; */
}

.marquee {
  margin-right: 0px;
  float: left;
}

@keyframes marqueeAnimation-1 {
  100% {
    transform: translateX(-12000px);
  }
}

@keyframes marqueeAnimation-2 {
  100% {
    transform: translateX(-9700px);
  }
}

@keyframes marqueeAnimation-3 {
  100% {
    transform: translateX(-10500px);
  }
}

@keyframes marqueeAnimation-4 {
  100% {
    transform: translateX(-7100px);
  }
}

@keyframes marqueeAnimation-5 {
  100% {
    transform: translateX(-8700px);
  }
}

@keyframes marqueeAnimation-6 {
  100% {
    transform: translateX(-6900px);
  }
}

h1,
.navbar-toggler-name:hover {
  color: orange;
}

span {
  color: lightsalmon;
}

/* .content {
  margin: 0;
  padding: 0;
  height: calc(100vh - 58px);
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
} */

img {
  max-width: 100%;
  vertical-align: middle;
}

.content-img {
  padding: 15vh 4vw 4vw 4vw;
  line-height: 10px;
  width: 100%;
  display: block;
}

.content-par {
  font-size: 20px;
  font-size: 1.95vw;
  line-height: 130%;
  padding: 4vw 4vw 4vw 4vw;
  width: 100%;
}

@media (min-width: 992px) {
  .content-img {
    float: right;
    padding: 20vh 5vw 1.5vw 5vw;
    width: 50%;
  }
  .content-par {
    padding: 20vh 1.5vw 1.5vw 1.5vw;
    width: 50%;
  }
}

.content-skills {
  font-size: 20px;
  font-size: 1.95vw;
  padding: 4vw 1.5vw 1vw;
  width: 100%;
}

/* .content-skills-title {
} */

.content-skills-list {
  display: block;
  line-height: 125%;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-size: 20px;
  font-size: 7.5vh;
}

.content-skills-list-text {
  display: inline-block;
}

.content-credit {
  padding-top: 2vw;
  padding-left: 1.5vw;
  width: 100%;
}

.content-credit a {
  color: gainsboro;
  text-decoration: none;
}
